[Desktop Entry]
Name=Cinder Ash
Comment=Cinder Ash 0.01 by MisterKnot
X-KDE-PluginInfo-Name=CinderAsh
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Author=MisterKnot
X-KDE-PluginInfo-Website=https://github.com/MisterKnot
X-KDE-PluginInfo-License=GPL-3.0-or-later
